*.bak
*.bak
My project/Assets/Sortify/Modules/SortifyCore/SaveFiles/Sortify_Objects.json
My project/Assets/Sortify/Modules/SortifyCore/SaveFiles/Backups/Sortify_Objects_20250609T191104.json.bak.meta
My project/Assets/Sortify/Modules/SortifyCore/SaveFiles/Backups/Sortify_Objects_20250614T210728.json.bak.meta
My project/Assets/Sortify/Modules/SortifyCore/SaveFiles/Backups/Sortify_Objects_20250614T211011.json.bak.meta
My project/Assets/Sprites/Assembly-CSharp.csproj.meta
